
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* Shared Items */

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.primary-btn{
    background-color: #FF900E;
    color: #fff;
    padding: 13px 23px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

/* Header section */

header{
    background-color: #FFF4E7;
    padding-top: 30px;
}
.navbar{
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}
.navbar h2{
    color: #131313;
    font-weight: 800;
    font-size: 3rem;
}
.navbar ul{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #727272;
    font-size: 1.3rem;
}
.banner{
    max-width: 1080px;
    margin: 0 auto;
}
.banner-content{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 50px;
}
.banner-content h2{
    font-size: 4rem;
}
.banner-content p{
    font-size: 1.1rem;
    padding: 30px 0px;
}
.banner img{
    width: 100%;
}

/* Feature section */

.feature-section{
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0px;
    gap: 60px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.feature-image img{
    max-width: 100%;
}
.feature-content{
    max-width: 50%;
}
.feature-content h2{
    font-weight: 500;
    font-size: 2.5rem;
    color: #727272;
}
.feature-content h2 span{
    font-weight: 800;
    font-size: 2.5rem;
    color: #131313;
}
.feature-content span{
    font-weight: 800;
    font-size: 2.5rem;
    color: #FF900E;
}
.feature-content p{
    font-weight: 300;
    font-size: 1rem;
    color: #727272;
    padding: 25px 0px 35px;
}

/* About section */

.about-section{
    max-width: 1080px;
    margin: 0 auto;
    gap: 30px;
}
.about-content{
    max-width: 40%;
    padding: 0px 80px 0px 0px;
}

.about-content .headline h2{
    font-weight: 800;
    font-size: 2.5rem;
    color: #131313;
    border-left: 6px solid #FF900E;
    padding: 5px 0px 10px 20px;
}
.about-content .headline p{
    font-weight: 300;
    font-size: 1rem;
    color: #727272;
    padding: 20px 0px 30px;
}

.details-section .details{
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
}
.details-section .details h3{
    font-weight: 600;
    font-size: 1.1rem;
    color: #131313;
    padding-bottom: 10px;
}
.details-section .details p{
    font-weight: 300;
    font-size: 0.9rem;
    color: #727272;
}
.about-image{
    max-width: 50%;
}
.about-image img{
    width: 100%;
}
.exp-div{
    padding: 33px 25px;
    background-color: #FF900E;
    color: #fff;
    display: inline-block;
    position: relative;
    left: -60px;
    bottom: 75px;
    border: none;
    border-radius: 10px;
}
.exp-div h2{
    font-weight: 800;
    font-size: 3rem;
}
.exp-div p{
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}

/* Facts section */

.facts-section{
    max-width: 1080px;
    margin: 0 auto;
}
.facts-section .heading{
    max-width: 60%;
}
.facts-section .heading h2{
    font-weight: 800;
    font-size: 2.5rem;
    color: #131313;
}
.facts-section .heading p{
    font-weight: 500;
    font-size: 1.1rem;
    color: #727272;
    padding: 20px 0px 80px;
}
.fact-boxes{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.fact-boxes .box{
    padding: 35px 25px;
    border: 2px solid #FF900E;
    border-radius: 14px;
}
.fact-boxes .box h2{
    font-weight: 600;
    font-size: 2.5rem;
    color: #424242;
    padding: 10px 0;
}
.fact-boxes .box p{
    font-weight: 500;
    font-size: 1.2rem;
    color: #727272;
}

/* Responsive */

@media screen and (max-width:576px) {

    /* Header */

    .navbar{
        flex-direction: column;
        margin: 0 auto;
    }
    .navbar h2{
        text-align: center;
    }
    .navbar ul{
        flex-direction: column;
        padding-top: 20px;
    }

    /* Feature */

    .feature-section{
        flex-direction: column;
        padding: 50px 0px;
    }
    .feature-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-content{
        margin: 0px auto;
    }

    /* About */

    .about-section{
        flex-direction: column;
    }
    .about-content{
        padding: 0px;
        max-width: 80%;
        margin: 0 auto;
    }
    .about-image{
        padding: 0;
        margin: 0 auto;
    }
    .details{
        width: auto;
    }
    .exp-div{
        padding: 26px 18px;
    }
    .exp-div h2{
        font-size: 2.1rem;
    }

    /* Facts */

    .facts-section .heading{
        padding: 0px;
        max-width: 80%;
        margin: 0 auto;
    }
    .fact-boxes{
        flex-direction: column;
        padding: 0px;
        max-width: 40%;
        margin: 0 auto;
    }
    .fact-boxes .box{
        margin-bottom: 20px;
    }

}